.avatar-img{
  max-width: 5rem;
  max-height: 5rem;
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(0deg,#49331f,#ad985e 50%,#f4dabc)
}

.item-hero{
  background-image: linear-gradient(0deg,#241d43,#1a0732);
  color: white;

  td:not(:nth-child(1)):not(:nth-child(2)){
    text-align: center; 
    font-size: 30px;
  }
}

.table-hero{
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100vw;
}

.table-hero-header{
  background-color: #171b37;
  color: white;

  th{
    padding: 40px;
    font-size: 20px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
